echo "MY.CFG LOADED"

unbind "F1"
unbind "F2"

bind "1" "slot7"
bind "2" "slot2"
bind "3" "slot8"
bind "4" "slot6"
bind "5" "slot10"
bind "6" "slot5"

bind "a" "+left"
bind "b" "buymenu"
bind "d" "+right"
bind "e" "+use"
bind "f" "+lookatweapon"
bind "g" "drop"
bind "h" "toggle voice_modenable"
bind "i" "say Бро, надо тренироваться!"
bind "j" "toggle volume 0.01 0.5 1"
bind "l" "switchhands"
bind "m" "teammenu"
bind "n" "noclip"
bind "q" "player_ping"
bind "r" "+reload"
bind "s" "+back"
bind "t" "+spray_menu"
bind "u" "messagemode2"
bind "v" "switchhands"
bind "w" "+forward"
bind "y" "messagemode"
bind "z" "toggle cl_radar_scale 0.25 0.5"

alias "prac" "bot_kick; sv_grenade_trajectory_prac_pipreview 1; sv_grenade_trajectory_prac_trailtime 4; mp_buy_anywhere 1; mp_freezetime 0; mp_ignore_round_win_conditions 1; mp_buytime 99999; mp_startmoney 60000; mp_maxmoney 60000; ammo_grenade_limit_total 6; mp_warmup_pausetimer 1; mp_warmup_start; sv_cheats 1; sv_infinite_ammo 1"
bind "[" "prac"
bind "]" "toggle host_timescale 1 20"
bind "'" "noclip"
bind "`" "toggleconsole"
bind "," "buyammo1"
bind "." "buyammo2"
bind "/" "ent_fire smokegrenade_projectile kill"
bind "\" "toggleconsole"

bind "SPACE" "+jump"
bind "MWHEELUP" "+jump"
bind "TAB" "+showscores"
bind "ESCAPE" "cancelselect"
bind "DEL" "mute"
bind "PAUSE" "pause"
bind "SHIFT" "+sprint"
bind "ALT" "noclip"
bind "CTRL" "+duck"
bind "UPARROW" "demo_pause"
bind "DOWNARROW" "demo_resume"
bind "F5" "volume 0.1"
bind "F6" "volume 1"
bind "F7" "load quick"
bind "F10" "quit_prompt"

bind "MOUSE1" "+attack"
bind "MOUSE2" "+attack2"
bind "MOUSE3" "+voicerecord"
bind "MOUSE4" "slot3"
bind "MOUSE5" "slot1"
bind "MWHEELDOWN" "invnext"
bind "MOUSE_X" "yaw"
bind "MOUSE_Y" "pitch"

cl_crosshair_code "CSGO-wAD3c-ykt5L-zvZ98-vBisR-6sWPA"

viewmodel_presetpos "0"
viewmodel_fov "68"
viewmodel_offset_x "2.5"
viewmodel_offset_y "0"
viewmodel_offset_z "-1.5"

sensitivity "1.15"

snd_menumusic_volume "0"
